<style>
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
    border: 1px solid #e3e3e3;
  }

  html[data-theme="dark"] .card{
    border: 1px solid #545454;
    background-color: #111;
  }

  .pagination .post-list > li {
    padding-bottom: 0px;
  }

  .card-body {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.25rem;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 55%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .post-card-image {
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
    filter: brightness(96%);
    object-fit: cover;
    vertical-align: middle;
  }

  img {
      display: block;
      max-width: 100%;
      border-style: none;
  }
</style>

{%- if page.paginator -%}
  {%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
  {%- assign paginator = site -%}
{%- endif -%}

{%- if paginator.posts.size > 0 -%}
<div class="pagination">
  <!-- Post list links -->
  <ul class="post-list">
    {%- for post in paginator.posts -%}
    
      {%- assign date_format = site.yat.date_format | default: "%b %-d, %Y" -%}

      {% assign article = post.content %}
      {% assign lang = post.lang %}
      {%- include functions.html func='get_reading_time' -%}
      {% assign reading_time = return %}
      {%- include functions.html func='get_article_excerpt' -%}
      {% assign excerpt = return %}
      <li class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
      <h2 class="post-title">
        {%- assign post_url = post.url | relative_url -%}
        <a class="post-link" href="{{ post_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
      <div class="post-meta">
        <span class="post-date"><i class="fa fa-calendar"></i> {{ post.date | date: date_format }}</span>
        <span class="post-reading-time left-vsplit"><i class="fa fa-clock-o"></i> {{ reading_time }}</span>
      </div>
      <p class="post-excerpt">
        {{ excerpt }}
      </p>
      <div class="post-tags">
        {%- for tag in post.tags -%}
        <a class="post-tag" href="/tags.html#{{tag}}">#{{tag}}</a>
        {%- endfor -%}
      </div>
    </div>
    {% if post.thumbnail %}
      <div class="col-sm-4"><a class="post-link" href="{{ post.url | relative_url }}">
        <img class="post-card-image" src="{{ post.thumbnail }}" /></a>
      </div>
    {%- endif -%}
  </div>
</div>
    </li>
    {%- endfor -%}
  </ul>

  <!-- Pagination links -->
  {%- if paginator.posts.size < site.posts.size -%}
    {%- include views/paginator.html -%}
  {%- endif -%}
</div>
{%- endif -%}
